* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.div {
    background-color: #333;
    width: 420px;
    height: 530px;
}

.input {
    width: 100%;
    height: 20%;
    caret-color: #fff;
    outline: none;
    font-weight: bold;
    font-size: 60px;
}

table {
    width: 100%;
    height: 80%;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}

td:hover {
    background-color: hsl(210, 77%, 55%);
}

.tozalovchi {
    background-color: rgb(241, 47, 160);
}